body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', arial;
}

.box {
    height: 55vh;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.header-logo img {
    height: auto;
    width: 45%;
}

.header-links  {
    display: flex;
    gap: 50px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    transition: all 0.3s ease-in-out;
}

.header-links a:hover {
    border: 1px solid white;
    padding: 5px;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.267);
}

/* title */
.title {
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    /* height: 55vh; */
    background-color: #1F2937;
}

.title-image img {
    height: auto;
    width: 100%;
    padding-bottom: 5vh;
}

.description h1 {
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

.description {
    width: 30vw;
    padding-bottom: 10vh;
    font-size: 18px;
    color: #E5E7EB;
}

.description button {
    background-color: #3882F6;
    color: white;
    width: 8vw;
    height: 4vh;
    border-radius: 5px;
    border-style: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.description button:hover {
    background-color: #314d79;
    box-shadow: 0 3px 10px rgba(22, 129, 218, 0.2);
    width: 9vw;
    height: 5vh;
}

/* content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.info p {
    text-align: center;
}

/* quote */
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 60vw;
}

.quote strong {
    padding-left: 50vw;
    font-size: 20px;
}

/* call to action */
.action-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    background-color: #3882F6;
    margin: 40px 250px;
    border-radius: 20px;
    height: 20vh;
    padding: 10px 80px;
    color: #F9FAF8;
}

.action-button button {
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
    color: white;
    font-size: 14px;
    width: 8vw;
    height: 4vh;
    border-style: solid;
    transition: all 0.3s ease-in-out;
}

.action-button button:hover {
    width: 9vw;
    height: 5vh;
    background-color: #7d9ac9e1;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.267);
    font-weight: bold;
}

/* footer */
.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB
}